name: Release charts

on:
  workflow_dispatch: {}
  push:
    branches: [main]
    paths: ["charts/**/*"]

jobs:
  release:
    permissions:
      id-token: write
      contents: write
    runs-on: [idp]
    steps:
      - name: Get Secrets from Azure Key Vault
        id: get_secret
        uses: workleap/wl-reusable-workflows/retrieve-managed-secret@main
        with:
          azure-client-id: ${{ vars.AZURE_CLIENT_ID }}
          azure-tenant-id: ${{ vars.AZURE_TENANT_ID }}
          azure-subscription-id: ${{ vars.AZURE_SUBSCRIPTION_ID }}
          keyvault-name: ${{ vars.IDP_CICD_KEYVAULT_NAME }}
          secret-name: "leap-helm-release"
          
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          fetch-depth: 0
          token: ${{ steps.get_secret.outputs.secret }}

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Install Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1
        with:
          version: v3.19.0

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@cae68fefc6b5f367a0275617c9f83181ba54714f # v1.7.0
        with:
          charts_dir: charts
        env:
          CR_TOKEN: "${{ steps.get_secret.outputs.secret }}"
          CR_PAGES_BRANCH: "gh-pages"
          CR_PAGES_INDEX_PATH: "pages/index.yaml"
          CR_SKIP_EXISTING: "true"
